<div class="navbar" (scroll)="onScroll()" [ngStyle]="{'opacity': navbarOpacity}">
  <p>
    <mat-toolbar>
      <span class="main-title">Peter Vertesi</span>
      <span class="spacer"></span>
      <mat-list role="list" class="inline-list">
        <mat-list-item role="listitem" *ngFor="let skill of skills">
          <button mat-button>
            <mat-icon aria-hidden="false" matListIcon>{{skill.icon}}</mat-icon> {{skill.title}}
          </button>
        </mat-list-item>
      </mat-list>
    </mat-toolbar>
  </p>
</div>
