.navbar {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

.mat-toolbar {
  background-color: #424242;
}

.main-title {
  font-family: 'Permanent Marker';
  font-size: 2rem;
}

.spacer {
  flex: 1 1 auto;
}

.mat-list-base.inline-list {
  display: flex;
}
