.cover {
  margin: 0;
  height: 100vh;
  background-image: url("../../assets/images/petervertesi_cover.jpg");
  background-size: cover;
  background-position: center;
}

.introductions {
  padding-top: 10%;
}
@media(max-width: 1279px) {
  .introductions {
    padding-top: 15%;
  }
}
@media(max-width: 959 px) {
  .introductions {
    padding-top: 20%;
  }
}

.introduction {
  color: #e7e6e1;
  font-family: 'Permanent Marker';
  font-size: 4.9rem;
}
@media(max-width: 1279px) {  
  .introduction {
    font-size: 3.5rem;
  }
}
@media(max-width: 959px) {
  .introduction {
    font-size: 3rem;
  }
}

.about {
  margin-top: 20%;
  margin-left: 2%;
  color: #e7e6e1;
  font-size: 1.5rem;
}

.about-h3, .content-h3 {
  font-family: 'Permanent Marker';
  font-size: 3rem;
  margin-bottom: 2rem;
}

.content {
  margin-top: 20%;
  margin-right: 2%;
  color: #e7e6e1;
  font-size: 1.5rem;
}

.content-button {
  color: #e7e6e1;
  font-size: 1.5rem;
}
