<div class="cover" (scroll)="onScroll()" [ngStyle]="{'opacity': coverOpacity}">
  <div class="introductions" fxLayout="row" fxLayoutAlign="center top" fxLayoutGap="20%" fxLayout.lt-md="column" fxLayoutAlign.lt-md="top center" fxLayoutGap.lt-md="10%" fxOffset.lt-md="50%">
    <h1 class="introduction">Hi, I'm Peter</h1>
    <h1 class="introduction">Peter Vertesi</h1>
  </div>
  <div class="content" fxLayout="row" fxLayoutAlign="center top" fxLayoutGap="30%" fxLayout.lt-md="column" fxLayoutAlign.lt-md="top center" fxLayoutGap.lt-md="10%" fxOffset.lt-md="50%">
    <div class="about word-wrap" fxFlex="20%">
      <h3 class="content-h3">About Me</h3>
      <mat-list role="list" class="word-wrap">
        <mat-list-item class="content-list-item" role="listitem"><mat-icon aria-hidden="false" aria-label="Born">child_care</mat-icon> Born in 1992-11-19, Debrecen, Hungary</mat-list-item>
        <mat-list-item class="content-list-item" role="listitem"><mat-icon aria-hidden="false" aria-label="School">school</mat-icon> Studied International Relations and Law in Budapest</mat-list-item>
      </mat-list>
    </div>
    <div class="skills" fxFlex="20%">
      <h3 class="content-h3">Stuff I Can Do</h3>
      <mat-list>
        <mat-list-item role="listitem" *ngFor="let skill of skills">
          <button mat-button>
            <mat-icon aria-hidden="false" matListIcon>{{skill.icon}}</mat-icon> {{skill.title}}
          </button>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
<!--

  <h1 class="introduction" fxFlex="50%" fxFlex.lt-md="100%">Hi, I'm Peter</h1>
  <h2 class="introduction" fxFlex="50%" fxFlex.lt-md="100%">Peter Vertesi</h2>
  <div class="about" fxFlex="50%" fxFlex.lt-md="100%">
    <h3 class="about-h3">About Me</h3>
    <mat-list role="list">
      <mat-list-item role="listitem"><button mat-button class="content-button"><mat-icon aria-hidden="false" aria-label="Born">child_care</mat-icon> Born in 1992-11-19, Debrecen, Hungary</button></mat-list-item>
      <mat-list-item role="listitem"><button mat-button class="content-button"><mat-icon aria-hidden="false" aria-label="School">school</mat-icon> Studied International Relations and Law in Budapest</button></mat-list-item>
    </mat-list>
  </div>
  <div class="content" fxFlex="50%" fxFlex.lt-md="100%">
    <h3 class="content-h3">Stuff I Can Do</h3>
    <mat-list>
      <mat-list-item role="listitem" *ngFor="let skill of skills">
        <button mat-button>
          <mat-icon aria-hidden="false" matListIcon>{{skill.icon}}</mat-icon> {{skill.title}}
        </button>
      </mat-list-item>
    </mat-list>
  </div>

-->
