<div class="cover">
  <h1 class="introduction">Hi, I'm Peter</h1>
  <h2 class="introduction">Peter Vertesi</h2>
  <div class="about">
    <h3 class="about-h3">About Me</h3>
    <mat-list role="list">
      <mat-list-item role="listitem"><button mat-button class="content-button"><mat-icon aria-hidden="false" aria-label="Born">child_care</mat-icon> Born in 1992-11-19, Debrecen, Hungary</button></mat-list-item>
      <mat-list-item role="listitem"><button mat-button class="content-button"><mat-icon aria-hidden="false" aria-label="School">school</mat-icon> Studied International Relations and Law in Budapest</button></mat-list-item>
    </mat-list>
  </div>
  <div class="content">
    <h3 class="content-h3">Stuff I Can Do</h3>
    <mat-list role="list">
      <mat-list-item role="listitem"><button mat-button class="content-button"><mat-icon aria-hidden="false" aria-label="Web Development">web</mat-icon> Web Development</button></mat-list-item>
      <mat-list-item role="listitem"><button mat-button class="content-button"><mat-icon aria-hidden="false" aria-label="Mapmaking">map</mat-icon> Mapmaking</button></mat-list-item>
    </mat-list>
  </div>
</div>
